.filters{
    background-color:white;
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    position: relative;

}

button{
    background-color: #FF5A5F;
    float:right;
    right:30px;
    margin: auto;
    height:48px;
    width:20%;
    text-align:center;
    opacity:90%;
}