.filters{
    background-color:white;
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    position: relative;
}

.filters button{
    font-size:18px;
    color:white;
    background-color: #FF5A5F;
    top:0;
    bottom:0;
    float:right;
    right:30px;
    margin: auto;
    height:48px;
    width:20%;
    border:none;
    text-align:center;
    border-radius:4px;
    position: absolute;
    opacity:1.0;
}

.filters button:hover{
    opacity:0.9;
}