.locations{
    border-right: solid #DDDDDD 1px;
}
.amenities{

}
section .amenities,
section .locations{
    padding: 0px 3em;
    display: inline-block;
    height:100%;
    width:25%;
    top:0;
    bottom:0;
    word-wrap:break-word;
}
.title{
    font-weight:600;
}

.subtitle{
    font-weight:400;
    font-size:14px;
    margin-bottom:1px;
}
.filters{
    background-color:white;
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    position: relative;
}

.filters button{
    font-size:18px;
    color:white;
    background-color: #FF5A5F;
    top:0;
    bottom:0;
    float:right;
    right:30px;
    margin: auto;
    height:48px;
    width:20%;
    border:none;
    text-align:center;
    border-radius:4px;
    position: absolute;
    opacity:1.0;
}

.filters button:hover{
    opacity:0.9;
}

/*.popover{
    display: none;
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    max-height: 25em;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 1px 3px 4px rgba(5, 5, 5, 0.1);
    line-height: 2.0;
    opacity: 1.0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}*/


.popover{
    position:absolute;
    max-height: 25em;
    background-color:#FAFAFA;
    margin: 0 -3.4em;
    border:#DDDDDD 1px;
    border-radius: 4px;
    display:none;
    width: 34%;
}
.locations:hover .popover{
    display: table-cell;
}

.amenities:hover .popover{
    display: table-cell;
}